
{% extends 'base_all.html' %}
{% block img %}transfert.jpg{% endblock %}
{% block content %}

            <div class="p-5">
              <div class="text-center">
                <h1 class="h3 text-gray-900 mb-4">{{ request.session.user_name }}</h1>
              </div>
                <hr>
                <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"> Transfert des Fonds </h1>
              </div>



              <form class="user" method="post" id="changepass">
                {% csrf_token %}
				  {% if txt  %}
                <div class="alert alert-danger" role="alert">
                 {{msg}}
                </div>
                {% endif %}

                  <label for="pwd">Selectionner L'utlisateur </label>

					<select name="transfer_user_id" required class="form-control" placeholder="User Name" autofocus="" />
					<option value="">Please Select</option>
					{% for employeename in employeetypelist %}
						<option value="{{ employeename.user_id }}" {% ifequal employeename.user_id|stringformat:"s" salaryDetails.salary_user_id %}
                                selected="selected"{% endifequal %}>{{employeename.user_name}}</option>
					{% endfor %}
					</select>

                <hr>
              <label for="pwd">Le Montant à Transfert</label>
                <div class="form-group">
                      <input type="text" class="form-control form-control-user"
                             autofocus="" name="transfer_amount" id="transfer_amount"
                             id="exampleInputEmail" aria-describedby="emailHelp" placeholder="le montant total à Transfert" required>
                </div>
              <div class="form-group">
                <button class="btn btn-outline-success btn-user btn-block" type="submit" >
                    <i class="fas fa-fw fa-money" ></i>Transferez les Fonds</button>
              </div>
                {% comment %}<a href="" class="btn btn-outline-success btn-user btn-block">
                  <i class="fas fa-fw fa-send-o" type="submit" ></i> Transferez les Fonds
                </a>{% endcomment %}
                <a href="/users/dashboard.html" class="btn btn-outline-danger btn-user btn-block">
                  <i class="fas fa-fw fa-tachometer-alt"></i> Retour
                </a>
                <input type="hidden" name="act" value="change_password">
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}



{% comment %}

{% extends 'base.html' %} {% block content %}
<!--breadcrumbs start-->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-4">
				<h1>Money Transfer Form</h1>
			</div>
		</div>
	</div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="registration-bg">
	<div class="container">
		<form method="post" class="form-signin wow fadeInUp" id="changepass" style="max-width:800px">
			{% csrf_token %}
			<h2 class="form-signin-heading">Money Transfer Form</h2>
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
			{% endif %}
			<div class="login-wrap">        
				<div class="form-group">
					<label for="pwd">Select User {{data}}</label>
					<select name="transfer_user_id" required class="form-control" placeholder="User Name" autofocus="" />
					<option value="">Please Select</option>
					{% for employeename in employeetypelist %}
						<option value="{{ employeename.user_id }}" {% ifequal employeename.user_id|stringformat:"s" salaryDetails.salary_user_id %} selected="selected"{% endifequal %}>{{employeename.user_name}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="pwd">Amount to Transfer</label>
					<input type="text" class="form-control" placeholder="Enter Total Amount" required autofocus="" name="transfer_amount" id="transfer_amount">
				</div>
				<div class="form-group" style="text-align:right;">
					<button class="btn btn-lg btn-login btn-block" type="submit" style="width:200px;">Transfer Payment</button>
				</div>
			</div>
			<input type="hidden" name="act" value="change_password">
		</form>
	</div>
 </div>{% endcomment %}
<!--
<script>
// just for the demos, avoids form submit
jQuery.validator.setDefaults({
  debug: true,
  success: "valid"
});
$( "#changepass" ).validate({
  rules: {
    user_new_password: "required",
    user_confirm_password: {
      equalTo: "#user_new_password"
    }
  }
});
</script>
<style>
.error {
    color: #ff0000;
}
</style>
-->
<!--container end-->
{#{% endblock content %}#}

