{#{% extends 'base.html' %}#}
{% extends 'base_all.html' %}

<script>
	$(document).on("click", ".delete-dialog", function () {
		var id = $(this).data('id');
		$("#recordID").val(id);
	});
	function delete_record(department_id) {
		location.href = "/salary/delete/" + $("#recordID").val();
	}
</script>
<script>
	
	var graphdata1 = JSON.parse('{{ graphData | escapejs }}');
	
	$(function () {
		$("#Linegraph").SimpleChart({
			ChartType: "Line",
			toolwidth: "50",
			toolheight: "25",
			axiscolor: "#E6E6E6",
			textcolor: "#6E6E6E",
			showlegends: true,
			data: [graphdata1],
			legendsize: "140",
			legendposition: 'bottom',
			xaxislabel: 'Transaction No.',
			title: 'Transaction Charts',
			yaxislabel: 'Transactions'
		});
	});
</script>
{% block content %}
<!--breadcrumbs start-->
    <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 m-auto m-t-10 mb-2 text-gray-800 lnr-text-align-center">LES DETAILS DE TRANSFERT </h1>
{#          <p {{ heading }} {{json_output}} class="mb-4"> <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>#}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">{% if messages %}
		<div class="alert alert-success fade in" style="margin:10px;">
			{% for message in messages %}
			<strong>{{ message }}</strong> {% endfor %}
		</div>
		{% endif %}</h5>


              <h6 class=" mb-4 mt-10 font-weight-bold text-primary bold text-uppercase">Les Transferts</h6>
            <form class="user pull-left">
                    <hr>
                    <a href="/users/dashboard" class="btn btn-outline-warning btn-back ">
                      <i class="fas fa-tachometer-alt fa-fw"></i> Tableau de Board
                    </a>
             </form>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Date</th>
                      <th>Type Opération</th>
                        <th>Montants</th>

                        <th>Details de Transation </th>

                      <th>Montant restant</th>

                    </tr>
                  </thead>
                  <tbody>

                    {% for data in datalist %}

								<tr>
									<td>{{ forloop.counter }}</td>
                                    <td>{{ data.mytransaction_date }}</td>
                                    <td>{{data.mytransaction_type}}</td>
									<td>{{data.mytransaction_amount}}</td>
									<td>{{data.mytransaction_description}}</td>
                                    <td> {{ data.montant_restant }}</td>

								</tr>
								{% endfor %}
                  </tbody>
                </table>
              <form class="user pull-left">
                    <hr>
                    <a href="/users/dashboard" class="btn btn-outline-warning btn-user">
                      <i class="fas fa-tachometer-alt fa-fw"></i> Tableau de Board
                    </a>
             </form>
              </div>
            </div>
          </div>

        </div>
{% comment %}
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-4">
				<h1>
					{{ heading }} {{json_output}}
				</h1>
			</div>
		</div>
	</div>
</div>
<!--breadcrumbs end-->

<div class="container">
	<div class="row">
		{% if messages %}
		<div class="alert alert-success fade in" style="margin:10px;">
			{% for message in messages %}
			<strong>{{ message }}</strong> {% endfor %}
		</div>
		{% endif %}
		<div class="col-lg-12">
			<form name="frm" action="" method="post">
				<h2 style="color:#152c3f; font-size:24px; border-bottom:1px solid #152c3f">Transactions History</h2>
				<section class="panel">
					<div style="height:400px; overflow:scroll">
						<table class="table table-striped table-advance table-hover" style="color:#000000">
							<tbody>
								<tr class="bg-primary">
									<th style="background-color:#152c3f; color:#FFFFFF;">Sr. No.</th>
									<th style="background-color:#152c3f; color:#FFFFFF;">Amount</th>
									<th style="background-color:#152c3f; color:#FFFFFF;">Type/th>
										<th style="background-color:#152c3f; color:#FFFFFF;">Transation Details</th>
								</tr>
								{% for data in datalist %}
								<tr>
									<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
									<td>{{data.transaction_amount}}</td>
									<td>{{data.transaction_type}}</td>
									<td>{{data.transaction_description}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</section>
				<h2 style="color:#152c3f; font-size:24px; border-bottom:1px solid #152c3f; margin-top:40px">Transactions Graph</h2>
				<div style="margin:20px; text-align:center">
					<div id="Linegraph" style="width: 98%; height: 500px"></div>
				</div>
				<input type="hidden" name="act" />
				<input type="hidden" name="salary_id" id="recordID" />
			</form>
		</div>
	</div>
</div>{% endcomment %}
{% endblock content %}